<h2>Rules</h2>
<h3>Updated 10/23/2012</h3>
<ul>
  <li>Please acknowledge verbally that you are playing a league game before kickoff.</li>
  <li>
    <strong>Half Length:</strong> 8 minutes
  </li>
  <li>
    <strong>Teams:</strong> Player's discretion
  </li>
  <li>
    <strong>Weather:</strong> Player's discretion, clear or overcast suggested (rain sucks, snow is broken)
  </li>
  <li>
    <strong>Time of Day:</strong> Player's discretion, night suggested (no shadows!)
  </li>
  <li>
    <strong>All other concerns:</strong> Ask Hainesy.
  </li>
</ul>